$main_size: 100;
$cero_size: 0;
$dos_size: 2;
$card_numero: 1, 2, 3, 4;

$gradient_maincolor:#ffffff;
$gradient_lightcolor: lightblue;
$gradient_hardcolor: midnightblue;
$stroke_color: skyblue;
$cardtext_color: aquamarine;
$cardbar_bkgndcolor: #2e3033;
$card_bkgndcolor: limegreen;
$direccion_color:snow;
$direccion_fondo: black;
$cardbarfilled_bkgndcolor: rgb(0,154,217);
$cardbar_gradcolor1: rgba(0,154,217,1);
$cardbar_gradcolor2: rgba(217,147,0,1);
$cardbar_gradcolor3: rgba(255,186,0,1);

$h1h2_font: 'Chango', cursive;
$navbar_font: 'Roboto', sans-serif;
$address_font: 'Oswald', sans-serif;


